<div class="top-navi">
  <div class="container">
    <div class="row">
      <ul class="nav navbar-nav pull-right">
        <li>
          <%= link_to current_user.full_name, 'javascript:void(0);' unless current_user.guest? %>
          <%#= link_to current_user.full_name, cms.edit_user_path(current_user) unless current_user.guest? %>
        </li>
        <li><%= link_to "Help", 'https://github.com/browsermedia/browsercms/wiki', target: '_blank' %></li>
        <li><%= link_to "Logout", cms.logout_path unless current_user.guest? %></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to image_tag(Cms.logo, class: 'navbar-brand'), "/" %>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <% if current_user.able_to?(:edit_content) %>
      <li>
        <%= link_to cms.dashboard_path do %>
          <span class="glyphicon glyphicon-dashboard"></span>
          Dashboard
        <% end %>
      </li>
      <li>
        <%= link_to cms.sitemap_path do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          Sitemap
        <% end %>
      </li>
      <li class="dropdown">
        <%= link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown" } do %>
          <span class="glyphicon glyphicon-book"></span>
          Library <b class="caret"></b>
        <% end %>
        <%= render partial: 'layouts/cms/content_types', locals: { library: true, id: 'content-library-menu' } %>
      </li>
      <% end %>
      <% if current_user.able_to? :administrate %>
      <li class="dropdown">
        <%= link_to '#', class: "dropdown-toggle", data: { toggle: "dropdown" } do %>
          <span class="glyphicon glyphicon-lock"></span>
          Administration <b class="caret"></b>
        <% end %>
        <ul class="dropdown-menu">
          <%#= nav_link_to "Users", cms.users_path %>
          <%= nav_link_to "Groups", cms.groups_path %>
          <%= divider_tag %>
          <%= nav_link_to "Partials", cms.page_partials_path %>
          <%= nav_link_to "Page Templates", cms.page_templates_path %>
          <%= divider_tag %>
          <%= nav_link_to "Redirects", cms.redirects_path %>
          <%= nav_link_to "Routes", cms.page_routes_path %>
          <%= nav_link_to "Page Cache", cms.cache_path %>
          <%= nav_link_to "Email Messages", cms.email_messages_path %>
          <% Rails.application.config.cms.tools_menu.each do |menu_item| %>
              <%= nav_link_to(menu_item[:name], self.send(menu_item[:engine]).send(menu_item[:route_name])) %>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <% if current_user.able_to?(:edit_content) %>
      <li class="dropdown">
        <%= link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown" } do %>
          <span class="glyphicon glyphicon-plus"></span>
          New <b class="caret"></b>
        <% end %>
        <ul class="dropdown-menu">
          <%= render 'cms/toolbar/new_pages_menu' %>
          <% modules = Cms::ContentType.available_by_module
             modules.keys.sort.each_with_index do |module_name, i| %>
              <%= divider_tag(i) %>
              <% modules[module_name].each do |type| %>
                  <%= nav_link_to h(type.display_name), new_engine_aware_path(type), id: "create_new_#{type.param_key}" %>
              <% end -%>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>
  </div>
</div>
