<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag "cms/application" %>
  <%= javascript_include_tag cms_content_editor %>
  <%= render 'layouts/cms/head' %>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <%= render 'layouts/cms/main_menu' %>
</div>
<div class="container">
  <%= render 'cms/sites/flash' %>
  <% if content_for?(:before_main_content) %>
      <%= yield :before_main_content  %>
  <% end %>
  <%= yield %>
  <%= render :partial => 'layouts/cms/footer' %>
</div>
</body>
</html>
