<% use_page_title 'Sign in' %>

<div class="panel panel-default">
  <div class="panel-heading">Sign in</div>
  <div class="panel-body">
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= f.input :login, :required => false, :autofocus => true %>
      <%= f.input :password, :required => false %>
      <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
      <%= button_menu :bottom do %>
          <%= f.button :submit, "Sign in", class: 'right btn-primary' %>
          <%= render "devise/shared/links" %>
      <% end %>
    <% end %>
  </div>
</div>