<%= content_block_form_for(@block) do |f| %>
  <h1 class="page-header"><%= page_title%></h1>
    <%= render 'form_errors', form: f %>
    <%= render 'exception', :object => @exception if @exception %>
    <%= render :partial => 'version_conflict_error', :locals => {:other_version => @other_version, :your_version => @block} if @other_version %>
    <%= render 'hidden_fields', f: f %>
    <div class="row">
      <div class="col-sm-<%= @block.new_record? ? 12 : 8 %> main-content">
        <%= render block_form, f: f %>
      </div>
      <%= render partial: 'sidebar', layout: 'sidebar_layout' unless @block.new_record? %>
    </div>
    <%= render :partial => "version_conflict_diff", :locals => {:other_version => @other_version, :your_version => @block} if @other_version %>
    <%= bottom_buttons f %>
<% end %>