<% if @block.class.publishable? %>
<div class="panel panel-default">
  <div class="panel-heading">Status</div>
  <div class="panel-body">
    <%= draft_icon_tag(@block, force: true) %>
  </div>
</div>
<% end %>
<% if @block.class.connectable? %>
<div class="panel panel-default">
  <div class="panel-heading">Used in</div>
  <% if @block.connected_pages.empty? %>
    <div class="panel-body">
      <div class="well">Not attached to any page.</div>
    </div>
  <% else %>
    <ul class="list-group">
      <% @block.connected_pages.each do |page| %>
          <li class="list-group-item"><%= link_to page.name, cms.page_path(page), target: "_blank" %></li>
      <% end %>
    </ul>
  <% end %>
  <% if @block.respond_to?(:draft_version?) && !@block.draft_version? %>
    <div class="panel-body">
      Version: v. <%= @block.version %> ( <%= link_to "Current", engine_aware_path(@block) %> )
    </div>
  <% end %>
</div>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">Actions</div>
  <div class="panel-body">
    <%=  yield :sidebar_actions if content_for(:sidebar_actions)%>
    <div class="btn-group">
      <%= link_to "View", engine_aware_path(@block), class: "btn btn-default" %>
      <%= link_to("Preview", @block.path, id: "preview_button", target: "_blank", class: "btn btn-default") if @block.class.addressable? %>
      <%= link_to "Versions", engine(@block).polymorphic_path([:versions, @block]), class: "btn btn-default" if @block.class.versioned? %>
    </div>
    <div class="btn-group">
      <%= link_to "Delete", engine_aware_path(@block), class: "btn btn-danger confirm_with_title http_delete", title: "Are you sure you want to delete this content?" %>
    </div>
  </div>
</div>
<%= yield :sidebar_after if content_for(:sidebar_after)%>
