<% use_page_title "Assets - #{content_type.display_name_plural}" %>

<h1 class="page-header"><%= content_type.display_name_plural%></h1>
<div class="row">
  <%= form_for @search_filter, url: engine_aware_path(@search_filter.model_class), html: {class: 'col-sm-4 form-search'}, method: :get do |f| %>
  <div class="input-group">
    <%= f.text_field :term, class: "form-control search-query right", placeholder: "Search #{content_type.display_name_plural}" %>
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </span>
  </div>
  <% end %>
  <%= form_tag engine_aware_path(@search_filter.path), method: :put, class: 'col-sm-8' do %>
    <div class="pull-right">
      <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-purpose="subheader">
          <%= content_type.display_name_plural %> &nbsp;<span class="caret"></span>
        </button>
        <%= render partial: 'layouts/cms/content_types', locals: {library: false, id: 'asset-selector-menu'} %>
      </div>
      
      <%= link_to "New", new_engine_aware_path(@search_filter.model_class), class: "btn btn-default"%>
      
    </div>
  <% end %>
</div>
<div class="row">
    <div class="col-sm-12">
      <h4><%= @total_number_of_items %> ITEMS</h4>
      <table class="table table-striped table-bordered assets">
        <thead>
        <tr>
          <th class="check-cell"><%#<input type="checkbox">
        # Only single select for time being.
                                 %></th>
          <% content_type.columns_for_index.each_with_index do |column, i| %>
              <th>
                <% if column[:order] %>
                    <%= link_to column[:label], sortable_column_path(content_type, column[:order]) %>
                    <span class='caret'></span>
                <% else %>
                    <%= column[:label] %>
                <% end %>
              </th>
          <% end %>
          <% if (content_type.model_class.respond_to?(:created_by)) %>
              <th>Created By</th>
          <% end %>
          <% if content_type.model_class.connectable? %>
              <th>Used</th>
          <% end %>
        </tr>
        </thead>

        <tbody>
        <% @blocks.each do |block| %>
            <tr>
              <td class="check-cell"><%= check_box_tag 'content_id[]', block.id %></td>
              <% content_type.columns_for_index.each_with_index do |column, i| %>
                  <td>
                    <%= link_to_if(i == 0, block.send(column[:method]), edit_engine_aware_path(block)) %>
                    <%= draft_icon_tag(block) if i == 0 %>
                  </td>
              <% end %>
              <% if (content_type.model_class.respond_to?(:created_by)) %>
                  <td><%= block.created_by.try(:full_name) %></td>
              <% end %>
              <% if content_type.model_class.connectable? %>
                  <td><%= block.connected_pages.size %></td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
          <td colspan="5">
            <%= submit_tag "Delete", class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete all these records?'} %>
            <%= submit_tag "Publish", class: "right btn btn-small btn-primary primary-cta" if content_type.model_class.publishable? %>
            <%= yield :bulk_actions if content_for?(:bulk_actions) %>
          </td >
        </tfoot>
      </table>
    </div>


<div class='row'>
  <% if !@search_filter.term.blank? && @blocks.size == 0 %>
    <div class="pagination">No results found for '<%= @search_filter.term %>'</div>
  <% elsif @blocks.total_pages > 1 %>
    <%= render_pagination @blocks, content_type, :order => params[:order], :search => @search_filter.term %>
  <% end %>

</div>
