<%= content_for :html_head do %>
    <%# Hide permissions based on whether is a CMS User group or not.  %>
    <%= javascript_tag do %>

        jQuery(function($){
            var element = $('#group_group_type_id');
            var cms_access_group_ids = <%= Cms::GroupType.cms_access.to_a.map { |e| e.id.to_s }.to_json.html_safe %>
            element.change(function() {
                if ($.inArray(element[0].value, cms_access_group_ids) < 0) {
                    $('#permissions').hide();
                    $('#section-action').text('view');
                } else {
                    $('#permissions').show();
                    $('#section-action').text('edit');
                }
            }).change();
        });
    <% end %>
<% end %>

<%= simple_form_for @group do |f| %>
    <h1 class="page-header"><%=  page_title %></h1>
    <%= render layout: 'main_with_sidebar' do %>
      <div class="panel panel-default">
        <div class="panel-heading">General</div>
        <div class="panel-body">
          <%= f.input :name, label: "Group Name" %>
          <% unless @group.guest? %>
          <%= f.association :group_type,
                      collection: Cms::GroupType.non_guest,
                      label: 'Type of User',
                      hint: 'What kind of user does this group represent?',
                      include_blank: false
          %>
          <% end %>
        </div>
      </div>
      <% content_for :sidebar do %>
        <div class="panel panel-default">
          <div class="panel-heading">Permissions</div>
          <div class="panel-body">
            <div class="col-sm-12">
              <%= render :partial => 'permissions', locals: {f: f} %>
              <%= render :partial => 'sections', locals: {f: f} %>
            </div>
          </div>
        </div>
      <%- end -%>
    <% end %>
    <%= bottom_buttons f,  'save_buttons' %>
<% end %>
